.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

/application.yml
apps/omar-dropbox-sqs-app/application.yml
apps/omar-dropbox-sqs-app/src/main/resources/application.yml
apps/omar-dropbox-sqs-app/src/main/resources/application.back